[submodule ".dotfiles/nodenv/.nodenv"]
	path = .dotfiles/nodenv/.nodenv
	url = https://github.com/nodenv/nodenv.git
[submodule ".dotfiles/.dotfiles/nodenv/.nodenv"]
	path = .dotfiles/.dotfiles/nodenv/.nodenv
	url = https://github.com/nodenv/nodenv.git
[submodule "scripts/fz"]
	path = .dotfiles/scripts/scripts/fz
	url = git@github.com:lejicore/fz.git
[submodule ".dotfiles/scripts/scripts/finder"]
	path = .dotfiles/scripts/scripts/finder
	url = git@github.com:lejicore/finder.git
[submodule ".dotfiles/scripts/scripts/install_mutagen/"]
	path = .dotfiles/scripts/scripts/install_mutagen/
	url = git@github.com:lejicore/install_mutagen.git
[submodule ".dotfiles/awesome/net_widgets"]
    path = .dotfiles/awesome/net_widgets
    url = https://github.com/username/repo-url.git
[submodule ".dotfiles/scripts/scripts/install_mutagen"]
	path = .dotfiles/scripts/scripts/install_mutagen
	url = git@github.com:lejicore/install_mutagen.git
